Simple Mars Image Viewer
========================

A simple, single page web application to view and collect NASA images from Mars.


This is an exercise to demonstrate your coding style and how you would go about building a UI from scratch. We don't expect extra functionality or fancy graphics.


There is an associated PDF file containing mockups for the UI which will help provide context for the following requirements.


Requirements:

1. Provide a query UI to perform image searches using the NASA Mars Rover Photo API.
  - The query will be based on the selection of a particular rover, camera and date
  - The API docs can be found at https://api.nasa.gov/api.html#MarsPhotos
  - The particular API URL for this exercise is of the form:

     https://api.nasa.gov/mars-photos/api/v1/rovers/ <ROVER> /photos?camera= <CAMERA> &earth_date= <PHOTO_DATE> &api_key=DEMO_KEY

     Where ROVER can be "Curiosity", "Opportunity" or "Spirit", CAMERA is listed in the API docs (and mockups), <PHOTO_DATE> is any valid date.

     eg: https://api.nasa.gov/mars-photos/api/v1/rovers/opportunity/photos?camera=PANCAM&earth_date=2004-02-28&api_key=DEMO_KEY

     You may need to get your own API key if you hit the demo key rate limits: https://api.nasa.gov/index.html#apply-for-an-api-key


2. Display the top 20 images for a search on a tab pane called "Results"
  - Associate a checkbox or other suitable selection control with each image
  - If an image is "selected", record its state as being a "Collected Image" (see below for more context)


3. On a second tab pane called "Collected Images" display all images which have been selected in previous queries
  - For each image, display the associated rover name, camera and photo date
  - Associate a button with each image to remove it from the "Collected Images"
  - A new search when this tab is selected will cause the "Results" tab to display with the results of the search


4. The UI should be responsive.



If you can't finish the whole test, just submit what you do get done.


You can also gain extra points for things like:
  - testing (just an illustrative example, not full coverage)
  - package management
  - build system
  - source control
  - etc


You're welcome to use any work you do for this test in your porfolio :-)
