.collected-images.pane.padded

  .no-content(ng-if="saved.length === 0")
    p No saved photos
    p
      a.link(ng-click="import()") Want to see some pre-selected ones?

  .share-code.no-content(ng-show="saved.length > 0")
    p Share your collection with this url:
    input.form-control.share-code-input(
      select-on-click
      value="{{ shareLink() }}"
    )

  photo.photo(ng-repeat="photo in saved")

