.collected-images.padded

  .no-content(ng-if="saved.length === 0")
    p No saved photos
    p
      a.link(ng-click="import()") Want to see some pre-selected ones?

  .photo(ng-repeat="photo in saved")

    img.img-responsive(ng-src="{{photo.img_src}}")
    .well
      h4
        a.btn.btn-danger.pull-right(
          ng-click="save(photo)"
        ) Remove From Collection
        | {{ photo.rover.name }}
      div {{ photo.earth_date }}
      div {{ photo.camera.name }} ({{ photo.camera.full_name }})
      div
        a.link(ng-click="findSimilar(photo)") See Similar

  .share-code.no-content(ng-if="collectionCode()") Share with this code:
    h2.brand-font
      a(ng-click="logCode(collectionCode())")
        | {{ collectionCode() }}
