.collected-images.padded(ng-if="pane === 'collected'")

  .photo(ng-repeat="photo in saved")

    img.img-responsive(ng-src="{{photo.img_src}}")
    .well
      h4
        a.btn.btn-danger.pull-right(
          ng-click="save(photo)"
        ) Remove From Collection
        | {{ photo.rover.name }}
      div {{ photo.earth_date }}
      div {{ photo.camera.name }} ({{ photo.camera.full_name }})
