ul.nav.nav-tabs
  li.link(ng-class="{ active: $state.includes('results') }")
    a(ui-sref="results") Results
  li.link(ng-class="{ active: $state.includes('collected') }")
    a(ui-sref="collected") Collected Images
