ul.nav.nav-tabs
  li.link(ng-class="{ active: $state.includes('results') }")
    a(ui-sref="results") Results
  li.link(ng-class="{ active: $state.includes('manifest'), disabled: !currentManifest() }")
    a(ui-sref="manifest") Manifest
  li.link(ng-class="{ active: $state.includes('collected') }")
    a(ui-sref="collected") Collected Images
  li.pull-right
    a(ng-click="layout = 'list'" ng-class="{'tab-active': layout === 'list'}")
      i.fa.fa-list
  li.pull-right
    a(ng-click="layout = 'grid'" ng-class="{'tab-active': layout === 'grid'}")
      i.fa.fa-table
