ul.nav.nav-tabs
  li.link(ng-class="{ active: pane === 'results'}")
    a(ng-click="pane = 'results'") Results
  li.link(ng-class="{ active: pane === 'collected'}")
    a(ng-click="pane = 'collected'") Collected Images
