@import 'utility'

body
  font-family: 'Quantico', sans-serif

.loading, .no-content
  text-align: center
  padding: 4em 0

.pane
  border: 1px solid #464545
  border-top: none

.photo img
  width: 100%

.header
  background: #111
  margin-bottom: 1em
  padding-bottom: 1em

.section-heading
  margin-top: 0
  padding-top: 0

.share-code
  padding: 1em
  max-width: 100%
  overflow: hidden
  text-align: center

.share-code-input
  background: rgba(0,0,0,0.1)
  color: #00bc8c

