@import 'utility';

.loading {
  text-align: center;
  padding: 4em 0;
}
.results, .collected-images {
  border: 1px solid #464545;
  border-top: none;
}
.photo img {
  width: 100%;
}
.header {
  background: #111;
  margin-bottom: 1em;
}
