doctype html
html(lang="en" ng-app="mars-rover-image-viewer")
  head
    title Mars Rover Image Viewer
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-chart.js/0.8.8/angular-chart.css")
    link(href="https://fonts.googleapis.com/css?family=Quantico" rel="stylesheet")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.16.0/moment.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.6.1/lodash.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.2.0/ui-bootstrap.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.2.0/ui-bootstrap-tpls.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-chart.js/0.8.8/angular-chart.min.js")
    script(src="bundle.js")
  body(ng-controller="MainController")
    header
    .container
      .wrapper
        .sidebar
          filters

        .main
          tabs
          ui-view
      .row
        .col-md-12
          .padded
            a.pull-right(href="https://github.com/captainclam/mars-rover-image-viewer")
              i.fa.fa-github
              |  View on Github
