doctype html
html(lang="en" ng-app="lens-ui-code-test")
  head
    title Mars Rover Image Viewer
    link(link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
    script(src="bundle.js")
  body
    h1 Mars Rover Image Viewer

    .filters
      form(ng-submit="search()")

        //- select(
        //-   ng-model="filter.rover"
        //-   ng-options="filter.rovers"
        //- )
        input.form-control(
          ng-model="filter.date"
          uib-datepicker
        )
        //- select(
        //-   ng-model="filter.camera"
        //-   ng-options="filter.cameras"
        //- )

        button.btn(type="submit") Search

    .results

      div(ng-repeat="item in photos")
        pre.well {{ item | json }}

    .collected-images
